**Create 3 Files :-**


**file1** named omar.py that Generate a list with 15 Random Number between Range 10 -> 50 and save it as a list with name omar_list.

In [ ]:
%%writefile omar.py
import random
def omar_list(x):
  omar_lt=[]
  lst_1=[ omar_lt.append(random.randrange(10 , x)) for z in range(0, 15) ]
  return(omar_lt)

Writing omar.py

In [ ]:
from omar import omar_list
o=omar_list(50)
o

[13, 26, 48, 49, 16, 37, 23, 48, 19, 13, 24, 48, 28, 42, 32]

**file 2** named abo-omar.py that calls omar.py and add 5 to each element in omar's list and call it abo_omar_list.*italicised text*

In [ ]:
%%writefile abo_omar.py
from omar import omar_list
def abo_omar_list(y):
    lt=omar_list(y)
    abo_omar_lt=[x+5 for x in lt]
    return(abo_omar_lt,lt)

Writing abo_omar.py

In [ ]:
from abo_omar import abo_omar_list
ab , o =abo_omar_list(50)
print('omar_list is {}'.format(o))
print('abo_omar_list is {}'.format(ab))

omar_list is [14, 34, 35, 13, 15, 48, 21, 15, 35, 39, 31, 45, 35, 40, 42]
abo_omar_list is [19, 39, 40, 18, 20, 53, 26, 20, 40, 44, 36, 50, 40, 45, 47]

**file 3** named om-omar.py that changes everything her family did by asking the user to give a number between 100 -> 200 and use it to modify the Range of omar_list and call abo-omar.py and name the output list as om_omar_lis

In [ ]:
%%writefile om_omar.py
from omar import omar_list
from abo_omar import abo_omar_list
def om_omar_list():
    num = int(input("Please pick a number from 100 to 200 again....  "))
    om_omar_lt=abo_omar_list(num)
    return(om_omar_lt)

Writing om_omar.py

In [ ]:
from om_omar import om_omar_list
om=om_omar_list()
om

Please pick a number from 100 to 200 again....160

([74, 39, 96, 113, 31, 107, 18, 113, 125, 50, 71, 92, 37, 164, 59],
 [69, 34, 91, 108, 26, 102, 13, 108, 120, 45, 66, 87, 32, 159, 54])